* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f4f4f9;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  width: 800px;
  height: 500px;
  border: 2px solid #ccc;
  border-radius: 12px;
  overflow: hidden;
}

.left {
  flex: 1;
  background: purple;
  color: white;
  text-align: center;
  padding: 50px 20px;
}

.left h1 {
  font-size: 36px;
  margin-bottom: 30px;
}

.left img{
    height: 400px;
    width:200px;
}

.right {
  flex: 1;
  background: #fff;
  padding: 30px;
  text-align: center;
}

.right h2 {
  color: purple;
}

.right p {
  margin: 10px 0;
}

#guessInput {
  padding: 8px;
  font-size: 18px;
  margin: 10px;
  width: 150px;
  text-align: center;
}

button {
  padding: 10px 20px;
  margin: 10px;
  background: purple;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background: darkviolet;
}

#message {
  margin-top: 15px;
  font-size: 18px;
  font-weight: bold;
  color: red;
}

.stats {
  margin-top: 20px;
  text-align: left;
}
